@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


.titillium-web-regular{
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.bg-color{
    background-color: #FFF8F3;
}
.btn-primary {
  background-color: #FD6E0A;
  font-weight: 600;
  color: white;
  padding: 12px 28px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* Dark */
.dark{
    color: #555;
}


/* Header Section Navbar Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 50px 150px;
}
.navbar h3{
    font-size: 2rem;
}
.font-coloring{
  color: #FD6E0A;
}
.nav-links a{
    text-decoration: none;
    color:black;
    font-size: 1.25rem;
    margin-right:20px;
}
/* Header Section banner Styles */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.banner-profile-pic{
  width: 220px;
  border: 2px solid #FD6E0A;
  border-radius: 50%;
}
.banner-greetings{
    color: black;
    font-size: 1.5rem;
    font-weight: 520;
    margin-bottom: 10px;

}
.banner-title{
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 10px;
}
.banner-description{
    font-size: 1.25rem;
    margin-top: 0px;
}
/* About section Styles */
.about-section{
    margin: 50px 200px;
    text-align: center;
    padding: 10px 20px;
}
.about-section h3{
    font-size: 2rem;
    margin-bottom: 0px;
}
.about-description{
    font-size: 1.25rem;
}

.about-card-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
.about-card-container div{
    background: #FFF;
    padding: 15px;
    max-width: 200px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}
/* Responsive for Mobile Device */
@media screen and (max-width:768px) {
    .navbar{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    header{
        padding:5px;
    }
    .about-section{
        margin: 30px auto;
    }
    .about-card-container{
        flex-direction: column;
        align-items: center;
    }
    .about-card-container div{
        width: 200px;
        height: auto;
    }
}
/* Responsive for Medium Device */
@media screen and (min-width:768px) and (max-width:992px) {
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-section{
        margin: 30px auto;
    }
    .about-card-container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        justify-items: center;
        
    }
    .about-card-container div{
        width: 200px;
        height: auto;
        
    }

    
}